@import "variables";
@import "mixin";

//ANCHOR Specification
body {
    font-family: 'Roboto', sans-serif;
    @include indentZeroing;
    line-height: 1.425;
    min-height: 100%;
    position: relative;
}
// ANCHOR TITLES
h1, h2, h3, h4, h5, h6 {
    @include indentZeroing;
    text-transform: uppercase;
    font-weight: 900;

}
h1.menu_header_title {
    font-size: 60px;
    line-height: 1;
    color: $colorRed;
}

.menu-flexbox__item__title {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 35px;
}
// ANCHOR LINKS
a {
    background-color: transparent;
    text-decoration: none;
}
// ANCHOR MAIN MENU
.new_menu_header {
    background-color: $bgColorWhite;
    background-image: none;
    position: relative;
    color: #292828;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    height: auto;
    margin-bottom: 105px;
    padding-top: 190px;
}
.menu_sub-menu {
    height: 84px;
    background-color: #FFFFFF;
    z-index: 99;
    position: fixed;
    width: 100%;
    -webkit-transition: all linear .35s;
    -o-transition: all linear .35s;
    -moz-transition: all linear .35s;
    transition: all linear .35s;
}
.menu_sub-menu {
    top: 0;
    left: 0;
}
.menu_sub-menu .container {
    padding: 0 8%;
    position: relative;
}
.menu_sub-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 28px;
    padding: 28px 80px;
}
.menu_sub-menu ul li {
    display: inline-block;
    font-size: 20px;
}
.menu_sub-menu ul li a {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Circe-ExtraBold', sans-serif;
    text-decoration: none;
    color: #292828;
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    -moz-transition: all linear .2s;
    transition: all linear .2s;
    padding: 0 18px;
    font-weight: 700;
}
.menu_sub-menu ul li a:hover, .menu_sub-menu ul li a.active {
    color: $colorRed;
}
.menu_sub-menu .red_logo {
    position: absolute;
    right: 12%;
    top: 14px;
}
// // ANCHOR MENU POPUP
// .overlay {
//     position: fixed;
//     background: #FFFFFF;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 0%;
//     opacity: 0;
//     visibility: hidden;
//     -webkit-transition: opacity .35s, visibility .35s, height .35s;
//     -o-transition: opacity .35s, visibility .35s, height .35s;
//     -moz-transition: opacity .35s, visibility .35s, height .35s;
//     transition: opacity .35s, visibility .35s, height .35s;
//     overflow: hidden;
//     z-index: 99;
// }
// .overlay.open {
//     opacity: 1;
//     overflow: auto;
//     visibility: visible;
//     height: 100%;
// }
// .overlay nav {
//     position: relative;
//     height: 70%;
//     top: 30px;
//     font-size: 36px;
//     text-transform: uppercase;
//     font-weight: 400;
//     text-align: center;
//     font-family: 'Circe-Bold', sans-serif;
//     width: 214px;
//     margin: 0 auto;
// }
// .overlay ul {
//     list-style: none;
//     padding: 0;
//     margin: 0 auto;
//     display: inline-block;
//     position: relative;
//     height: 100%;
// }
// .overlay ul li {
//     display: block;
//     min-height: 74px;
//     line-height: 74px;
//     position: relative;
//     opacity: 1;
// }
// .overlay.open li {
//     -webkit-animation: fadeInRight .5s ease forwards;
//     -moz-animation: fadeInRight .5s ease forwards;
//       -o-animation: fadeInRight .5s ease forwards;
//          animation: fadeInRight .5s ease forwards;
//     -webkit-animation-delay: .35s;
//     -moz-animation-delay: .35s;
//       -o-animation-delay: .35s;
//          animation-delay: .35s;
// }
// .overlay ul li.nav_menu_logo {
//     height: 140px;
//     margin-bottom: 54px;
// }
// .overlay ul li a {
//     display: block;
//     position: relative;
//     color: #292828;
//     text-decoration: none;
//     overflow: hidden;
// }
// .overlay-menu .phone_block {
//     display: none;
//     color: #000;
//     font-size: 23px;
//     padding-left: 36px;
//     white-space: nowrap;
//     margin-bottom: 10px;
//     font-weight: 600;
//     line-height: 1.5;
//     background-position-x: 40px;
//     margin-top: 50px;
// }
// .overlay-menu .whatsapp_block {
//     display: none;
//     color: #000;
//     font-size: 23px;
//     padding-left: 36px;
//     white-space: nowrap;
//     margin-bottom: 10px;
//     font-weight: 600;
//     line-height: 36px;
//     background-image: url(/upload/whatsapp.svg);
//     -webkit-background-size: contain;
//        -moz-background-size: contain;
//             background-size: contain;
//     background-repeat: no-repeat;
// }
.container-fixed {
    max-width: 1680px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
         transform: translateX(-50%);
    z-index: 100;
}
// ANCHOR BURGER MENU
.button_container {
    position: absolute;
    top: -5px;
    left: 8%;
    cursor: pointer;
    width: 89px;
    height: 89px;
    background-color: #ee3c2d;
    -webkit-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
       -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
.button_container span {
    background: $bgColorWhite;
    border: none;
    height: 5px;
    width: 46px;
    position: absolute;
    top: 32px;
    left: 22px;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    -moz-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}
.button_container span:nth-of-type(2) {
    top: 42px;
}
.button_container span:nth-of-type(3) {
    top: 52px;
}
.button_container:hover {
    opacity: .99;
}

.button_container:hover .top {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
     -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
         transform: translateY(-5px);
}

.button_container:hover .middle {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
     -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
         transform: translateY(0px);
}

.button_container:hover .bottom {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
     -ms-transform: translateY(5px);
      -o-transform: translateY(5px);
         transform: translateY(5px);
}

.button_container.active {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    -moz-transform: translateY(11px) translateX(0) rotate(45deg);
     -ms-transform: translateY(11px) translateX(0) rotate(45deg);
      -o-transform: translateY(11px) translateX(0) rotate(45deg);
         transform: translateY(11px) translateX(0) rotate(45deg);
    background: $bgColorWhite;
}

.button_container.active .middle {
    opacity: 0;
    background: $bgColorWhite;
}

.button_container.active .bottom {
    -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-9px) translateX(0) rotate(-45deg);
     -ms-transform: translateY(-9px) translateX(0) rotate(-45deg);
      -o-transform: translateY(-9px) translateX(0) rotate(-45deg);
         transform: translateY(-9px) translateX(0) rotate(-45deg);
    background: $bgColorWhite;
}
// ANCHOR SECTIOn
.section_menu {
    background: $colorYell;
    padding: 50px 0;
}
// ANCHOR MENU LIST 
.snacks__list {
    margin: 0 auto;
    position: relative;
    width: 1270px;
    @include dFlex(flex-start, center);
}
.snacks__list__item {
    @include card(4, .1%)
    
}
.menu__list__item__img {
    @include cardImg();
}
.menu__list__item__new {
    position: absolute;
    background: $colorRed;
    color: #fff;
    height: 90px;
    width: 90px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    @include dFlex(center, center);
    top: 15px;
    left: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}
.menu__list__item__price {
    font-size: 30px;
    letter-spacing: 1.1px;
    color: $colorRed;
    .value {
        font-size: 15px;;
    }
}
.menu__list__item__title {
    font-size: 18px;
    letter-spacing: 1.6px;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.menu__list__item__descr {
    line-height: 20px;
    font-size: 15px;
}
