@import "variables";
@import "mixin";

//ANCHOR Specification
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    @include indentZeroing;
    line-height: 1.425;
    min-height: 100%;
    position: relative;
}
p {
    @include indentZeroing;
}
// ANCHOR TITLES
h1, h2, h3, h4, h5, h6 {
    @include indentZeroing;
    text-transform: uppercase;
    font-weight: 900;

}
h1.menu_header_title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    color: $colorRed;
}

.menu-flexbox__item__title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 35px;
    span {
        color: $colorRed;
    }
}

.section_desc {
    text-align: center;
    font-size: 14px;
    line-height: 1.7em;
    margin: 15px auto 22px;
    span {
        color: #ff002a;
    }
}
// ANCHOR LINKS
a {
    background-color: transparent;
    text-decoration: none;
}
// ANCHOR BACKGROUND
.bg_yellow {
    background: #feffe8;
}
.bg_beige {
    background: #fff5ea;
}
.bg_silver {
    background: #f5f5f5;
}
.bg_card_white {
    background: #ffffff;
    color: #000000;
    .suace_slider_item_desc {
        color: #808080;
    }
}
.bg_card_green {
    background: #36c416;
    color: #ffffff;
    .suace_slider_item_desc,
    .menu__list__item__title {
        color: #ffffff;
    }
}
.bg_card_red {
    background: #ff3c34;
    .suace_slider_item_desc,
    .menu__list__item__title {
        color: #ffffff;
    }
}
.bg_card_orange {
    background: #ffd146;
    -webkit-justify-content: space-around!important;
        -ms-flex-pack: distribute!important;
            justify-content: space-around!important;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
       -moz-box-orient: horizontal!important;
       -moz-box-direction: normal!important;
        -ms-flex-direction: row!important;
            flex-direction: row!important;
    .suace_slider_item_desc,
    .menu__list__item__title {
        color: #000000;
    }
}
// ANCHOR MAIN MENU
.new_menu_header {
    background-color: $bgColorWhite;
    background-image: none;
    position: relative;
    color: #292828;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    height: auto;
    margin-bottom: 105px;
    padding-top: 190px;
}
.menu_sub-menu {
    height: 84px;
    background-color: #FFFFFF;
    z-index: 99;
    position: fixed;
    width: 100%;
    -webkit-transition: all linear .35s;
    -o-transition: all linear .35s;
    -moz-transition: all linear .35s;
    transition: all linear .35s;
}
.menu_sub-menu {
    top: 0;
    left: 0;
}
.menu_sub-menu .container {
    padding: 0 8%;
    position: relative;
}
.menu_sub-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 28px;
    padding: 28px 80px;
}
.menu_sub-menu ul li {
    display: inline-block;
    font-size: 20px;
}
.menu_sub-menu ul li a {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Circe-ExtraBold', sans-serif;
    text-decoration: none;
    color: #292828;
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    -moz-transition: all linear .2s;
    transition: all linear .2s;
    padding: 0 18px;
    font-weight: 700;
}
.menu_sub-menu ul li a:hover, .menu_sub-menu ul li a.active {
    color: $colorRed;
}
.menu_sub-menu .red_logo {
    position: absolute;
    right: 7%;
    top: 14px;
}
.container-fixed {
    max-width: 1680px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
         transform: translateX(-50%);
    z-index: 100;
}
// ANCHOR BURGER MENU
.button_container {
    position: absolute;
    top: -5px;
    left: 8%;
    cursor: pointer;
    width: 89px;
    height: 89px;
    background-color: #ee3c2d;
    -webkit-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
       -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
.button_container span {
    background: $bgColorWhite;
    border: none;
    height: 5px;
    width: 46px;
    position: absolute;
    top: 32px;
    left: 22px;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    -moz-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}
.button_container span:nth-of-type(2) {
    top: 42px;
}
.button_container span:nth-of-type(3) {
    top: 52px;
}
.button_container:hover {
    opacity: .99;
}

.button_container:hover .top {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
     -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
         transform: translateY(-5px);
}

.button_container:hover .middle {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
     -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
         transform: translateY(0px);
}

.button_container:hover .bottom {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
     -ms-transform: translateY(5px);
      -o-transform: translateY(5px);
         transform: translateY(5px);
}

.button_container.active {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    -moz-transform: translateY(11px) translateX(0) rotate(45deg);
     -ms-transform: translateY(11px) translateX(0) rotate(45deg);
      -o-transform: translateY(11px) translateX(0) rotate(45deg);
         transform: translateY(11px) translateX(0) rotate(45deg);
    background: $bgColorWhite;
}

.button_container.active .middle {
    opacity: 0;
    background: $bgColorWhite;
}

.button_container.active .bottom {
    -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-9px) translateX(0) rotate(-45deg);
     -ms-transform: translateY(-9px) translateX(0) rotate(-45deg);
      -o-transform: translateY(-9px) translateX(0) rotate(-45deg);
         transform: translateY(-9px) translateX(0) rotate(-45deg);
    background: $bgColorWhite;
}
// ANCHOR SECTION
.section_menu {
    padding: 50px 0;
}
// ANCHOR MENU LIST 
.snacks__list,
.suace_slider,
.block_table_list {
    margin: 0 auto;
    position: relative;
    width: 1270px;
    @include dFlex(flex-start, center);
}
.snacks__list__item {
    @include card(4, .1%)  
}
.menu__list__item__img {
    @include cardImg();
    &:hover {
        -webkit-box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.16);
           -moz-box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.16);
                box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.16);
    }
}
.menu__list__item__img  {
    padding-bottom: 100%;
    position: relative;
    background: #fff;
    outline: none;

} 
.menu__list__item__img img {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto auto;
width: 100%;
height: 100%;
-o-object-fit: contain;
    object-fit: contain;
}
.menu__list__item__img img.img_transparent {
    width: 90%;
    height: 90%;
}
.slick-slide .vegan img {
position: static;
}
.menu__list__item__new {
    position: absolute;
    background: $colorRed;
    color: #fff;
    height: 90px;
    width: 90px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    @include dFlex(center, center);
    top: 15px;
    left: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}
.menu__list__item__price {
    font-size: 30px;
    letter-spacing: 1.1px;
    color: $colorRed;
    position: relative;
    span {
        font-size: 15px;;
    }
    .vegan {
        position: absolute;
        left: -30px;
    }
}
.menu__list__item__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
    text-transform: uppercase;
    text-align: center;
}
.menu__list__item__descr {
    line-height: 20px;
    font-size: 15px;
    font-weight: 100;
    color: #808080;
    padding: 0 5px;
    span {
        color: $colorRed;
    }
}
// ANCHOR SAUCE SECTION
.section_sauce .menu-flexbox__item__title {
    @include dFlex ($justify: center);
    .menu__list__item__price {
        margin-left: 15px;
    }
    margin: 0;
}
.suace_slider {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 8px;
    .slick-track {
        padding: 15px 0;
    }
}
.suace_slider_item {
    width: 400px!important;
    height: 110px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    @include dFlex($justify: center);
    @include card(3, 1%);
            .suace_slider_item_desc {
                font-size: 15px;
                font-weight: 100;
                span {
                    color: $colorRed;
                }
            }
    -webkit-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.16);
       -moz-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.16);
}
// ANCHOR BLOCK TABLE
.block_table {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 28px 0 60px;
    .menu-flexbox__item__title {
        margin-top: 23px;
        margin-bottom: 1px;
    }
    .menu__list__item__title {
        margin-bottom: 13px;
    }
}
.line_top {
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 48%;
        background: #ffd146;
        height: 1px;
        width: 70px;
    }
}
.block_table_list {
    @include dFlex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    .block_table_list_item {
        width: 47%;
        @include dFlex($justify: space-between);
        border-bottom: 1px solid #ffd146;
        text-transform: uppercase;
        padding: 7px 0 6px;
        line-height: 1em;
        .menu__list__item__price {
            font-size: 16px;
        }
    }
}
#burgers {
    padding: 50px 0 25px;
}

@media screen and (max-width: 1440px) {
    .snacks__list, .suace_slider, .block_table_list {
        width: 1000px;
    }
    .suace_slider_item {
        width: 320px !important;
    }
    .menu__list__item__img {
        width: 95%;
        height: 100%;
    }
  }
@media screen and (max-width: 1200px) {
    .snacks__list, .suace_slider, .block_table_list {
        width: 900px;
    }
    .slick-prev {
        left: -45px;
    }
    .slick-next {
        right: -45px;
    }
    .suace_slider_item {
        width: 290px !important;
    }
    .menu_sub-menu ul li a {
        padding: 0 10px;
    }
}
@media screen and (max-width: 1005px) { 
    .snacks__list, .suace_slider{
        width: 100%;
    }
    .block_table_list {
        width: 90%;
    }
}
@media screen and (max-width: 993px) { 
    .suace_slider_item {
        width: 8% !important;
    }
    .menu_sub-menu .container {
        padding: 0 0%;
        position: relative;
    }
    .menu_sub-menu .red_logo {
        right: 1%;
    }
    .button_container {
        left: 0;
    }
}
@media screen and (max-width: 768px) { 
    .snacks__list, .suace_slider, .block_table_list {
        width: 100%;
    }
    .menu_sub-menu ul {
        display: none;
    }
    .main_content {
        padding-top: 75px;
    }
    .button_container {
        right: 0;
        left: auto;
        background: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    }
    .button_container span {
        background: #ee3c2d;
    }
    .menu_sub-menu .red_logo {
        left: 0;
        right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
                &::before {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 45%;
                    background: #ee3c2d;
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                }
                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 45%;
                    background: #ee3c2d;
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                }
    }
    .block_table_list .block_table_list_item {
        width: 90%;
        margin: 0 auto;
    }
    .menu_header.new_menu_header {
        position: fixed;
        top: 24px;
        left: 22px;
        padding: 0;
        z-index: 9999;
        margin: 0;
    }
    .new_menu_header h1 {
        font-size: 35px;
    }
    .suace_slider_item {
        width: 100%;
    }
    .suace_slider_item {
        width: 9.5% !important;
    }
    .snacks__list .menu__list__item__price,
    .snacks__list .menu__list__item__title,
    .snacks__list .menu__list__item__descr {
        opacity: 0;
        -webkit-transition: ease-in .5s all;
        -o-transition: ease-in .5s all;
        -moz-transition: ease-in .5s all;
        transition: ease-in .5s all;
    }
    .slick-active .menu__list__item__price,
    .slick-active .menu__list__item__title,
    .slick-active .menu__list__item__descr {
        opacity: 1;
        -webkit-transition: ease-in 1s all;
        -o-transition: ease-in 1s all;
        -moz-transition: ease-in 1s all;
        transition: ease-in 1s all;
    }
    .menu__list__item__img {
        width: 95%;
        height: 100%;
    }
    .snacks__list__item {
        @include card(2, 2.1%)  
    }
    .menu__list__item__img {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    .slick-active .menu__list__item__img {
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
           -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
    }

}
@media screen and (max-width: 640px) { 
    .snacks__list .slick-list {
        padding: 0 180px!important;
    }
}
@media screen and (max-width: 576px) { 
    .snacks__list, .suace_slider, .block_table_list {
        width: 100%;
    }
    .new_menu_header h1 {
        font-size: 18px;
    }
    .button_container span {
        height: 3px;
        width: 28px;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        top: 32px;
        left: 41px;
    }
    .button_container {
        top: -12px;
    }
    .section_sauce .menu-flexbox__item__title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .menu-flexbox__item__title {
        font-size: 25px;
    }
    .mini_list .slick-list.draggable {
        padding: 0 50px;
    }
    
    .block_table_list .block_table_list_item {
        font-size: 12px;
        .menu__list__item__price {
            font-size: 12px;
            span {
                font-size: 12px;
            }
        }
    }
    .menu_sub-menu .red_logo::after,
    .menu_sub-menu .red_logo::before {
        width: 40%;
    }
    
    .snacks__list .slick-list {
        padding: 0 100px!important;
    }
    .menu__list__item__new {
        height: 60px;
        width: 60px;
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) { 
    .snacks__list .slick-list {
        padding: 0 70px!important;
    }
}